@media screen and (max-width: 1280px) {
  .home {
    padding: 250px 50px;
  }

  .left h1 {
    font-size: 4rem;
  }

  .right .profile img {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 992px) {
  header {
    background: var(--mob-color);
    position: sticky;
    top: 0;
    z-index: 9;
  }

  nav .hamburger {
    display: block;
  }

  nav ul {
    position: fixed;
    top: 90px;
    left: 100%;
    width: 100%;
    height: 100vh;
    background: var(--mob-color);
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
    transition: 0.5s ease-in;
  }

  nav ul li a {
    font-size: 28px;
  }

  nav ul.active {
    left: 0%;
  }

  .home {
    padding: 50px;
    height: 100%;
  }

  .home-info {
    flex-direction: column-reverse;
  }

  .left {
    padding-top: 50px;
  }

  .left p {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .left h3 {
    font-size: 2rem;
  }

  .left h1 {
    font-size: 3rem;
  }

  .left h4 {
    font-size: 1.8rem;
  }

  .left .btn {
    padding-bottom: 50px;
  }

  .right .profile img {
    width: 375px;
    height: 375px;
  }
}

@media screen and (max-width: 567px) {
  nav {
    padding: 0 30px;
  }

  nav .logo a {
    font-size: 30px;
  }

  nav ul {
    padding: 30px 30px 0;
  }

  nav ul li a {
    font-size: 24px;
  }

  .home {
    padding: 30px;
  }

  .left h3 {
    font-size: 1.8rem;
  }

  .left h1 {
    font-size: 2.8rem;
  }

  .left h4 {
    font-size: 1.6rem;
  }

  .left .btn button {
    font-size: 13px;
    padding: 10px 20px;
  }

  .right .profile img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 992px) {
  footer {
    padding: 15px;
  }

  footer .contact-sidebar {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  footer .contact {
    font-size: 14px;
  }

  footer .contact-picture {
    width: 35px;
    height: 35px;
  }

  footer p {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  footer {
    padding: 10px;
  }

  footer .contact-sidebar {
    flex-direction: column;
    gap: 10px;
  }

  footer .contact {
    font-size: 12px;
  }

  footer .contact-picture {
    width: 30px;
    height: 30px;
  }

  footer p {
    font-size: 10px;
  }
}

@media screen and (max-width: 567px) {
  footer {
    padding: 10px;
  }

  footer .contact-sidebar {
    flex-direction: column;
    gap: 8px;
  }

  footer .contact {
    font-size: 10px;
  }

  footer .contact-picture {
    width: 25px;
    height: 25px;
  }

  footer p {
    font-size: 8px;
  }
}
